@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

:root {
  --max-width: 1280px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

html,
body {
  background-color: white;
}

h1,
h2,
h3,
h4 {
  font-family: "Nunito", sans-serif;
}

p,
a,
li,
input,
button {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  @apply text-slate-400;
}

h1 {
  @apply text-5xl font-semibold text-slate-700;
}

h2 {
  @apply text-4xl font-semibold text-slate-700;
}

h3 {
  @apply text-2xl font-semibold text-slate-700;
}

h4 {
  @apply text-xl font-semibold text-slate-700;
}

h5 {
  @apply text-xl font-normal uppercase tracking-widest;
}
