.container {
  display: grid;
  grid-template-areas:
    "sidebar navbar"
    "sidebar main";
  gap: 0;
}

.sidebar {
  grid-area: sidebar;
}
.navbar {
  grid-area: navbar;
}
.main {
  grid-area: main;
}
